<div class="contact-container">
  <h1>Contact Us</h1>
  <div class="locations">
    <div class="location">
      <h3>Chennai (Headquarters)</h3>
      <p>10/450-2,<br> Adayar, Kundanoor, Maradu, Vellur, Tamil Nadu 639006</p>
    </div>
    <div class="location">
      <h3>Trichy</h3>
      <p>12/90,<br>KK Nagar PO,<br>Kakkanchery, Tamil Nadu 630922</p>
    </div>
    <div class="location">
      <h3>Karur</h3>
      <p>199/70,<br>Kagithapuram, Pugalur,<br>Karur, Tamil Nadu 639113</p>
    </div>
    <div class="location">
      <h3>Madurai</h3>
      <p>180/59,<br>SSN Street, Kombai,<br>Madurai, Tamil Nadu 639119</p>
    </div>
  </div>
  <div class="queries">
    <div class="query">
      <h3>For Admission related queries</h3>
      <p>Email: admissions&#64;tnplschool.com</p>
      <p>Contact: +91 9995 270 355</p>
    </div>
    <div class="query">
      <h3>For Official queries</h3>
      <p>Email: talk&#64;tnplschool.com</p>
      <p>Contact: +91 7034 395 811</p>
    </div>
    <div class="query">
      <h3>For Job opportunities</h3>
      <p>Email: staff&#64;tnplschool.com</p>
      <p>Contact: +91 7543 648 478</p>
    </div>
  </div>
</div>
